# Basics of Python
## Data Types:
- Integer
- String
- Float

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
10**2

100

In [4]:
2/5

0.4

In [5]:
5*'str'

'strstrstrstrstr'

In [6]:
 ## check data types

In [7]:
type(1)

int

In [8]:
type('str')

str

In [9]:
type(0.5)

float

In [11]:
type(True)

bool

# Variable Assignment

In [14]:
# Syntax:
# Var_name = var_value

a = 10

In [15]:
type(a)

int

In [16]:
a = 'Thakur Mahendar Singh'

# Mathematical operations with Variable asisgnment

In [18]:
a = 10
b = 20

In [19]:
print(a*b)
print(a+b)
print(a/b)
print((a*b)+(a/b))

200
30
0.5
200.5

In [20]:
print(a%b)

10

# Formating and priting the statement

In [21]:
first_name = 'Thakur'
last_name = 'Singh'

In [22]:
print('my first name is  {}, last name is {}'.format(first_name, last_name))

my first name is  Thakur, last name is Singh

In [23]:
print('my fist name is {first} and last name is {last}'.format(first=first_name, last=last_name))

my fist name is Thakur and last name is Singh