# Boolean Variables

Boolean variables can be created by using bool(),
Boolean variables represent True or False conditions

In [1]:
bool()

False

In [2]:
bool(23)

True

In [3]:
my_str = 'Thakur Mahendar Singh'

In [7]:
print(my_str.capitalize()) # return first character captial in string

print(my_str.isalnum()) # check all chareters are numbers

print(my_str.isalpha()) # check whether strig is alpha numeric

print(my_str.isdigit()) # check string contains digit

print(my_str.islower()) # test if string contains lower case

print(my_str.isupper()) # test if string contains upper case

print(my_str.isspace()) # test if string contains space, returns true if all characters are whitespace

Thakur mahendar singh
False
False
False
False
False
False

my_str.capitalize()

In [15]:
my_str.isalpha()

False

In [11]:
my_str.isalnum()

False

# list

A list is data structure in python that is mutable or changeable, ordered sequence of elements. Each element or value inside a list is called item. lists are defined by having square brackets [].

In [12]:
type([])

list

In [13]:
lst_ex = list()

In [14]:
type(lst_ex)

list

In [16]:
lst = ['a', 'b', 'ç', 100,200,300]

In [17]:
len(lst)

6

In [18]:
# append the values to the existing list
lst.append('thakur')

In [19]:
lst

['a', 'b', 'ç', 100, 200, 300, 'thakur']

In [25]:
lst.append(['john', 'moscow'])

In [26]:
lst # recently appended list gets add as sub list in the existing

['a', 'b', 'ç', 100, 200, 300, 'thakur', ['john', 'moscow']]

In [21]:
# fetching values from list by using the 

lst[:] # as we are not specifying any index left r right of the colon it starts with 0 index till length of list

['a', 'b', 'ç', 100, 200, 300, 'thakur']

In [22]:
lst[1:]

['b', 'ç', 100, 200, 300, 'thakur']

In [24]:
lst[1:6] # 7 is last index, it will fetch values till 7 index

['b', 'ç', 100, 200, 300]

In [28]:
# insert fucntion allows us to insert an item at specific index

lst

['a', 'b', 'ç', 100, 200, 300, 'thakur', ['john', 'moscow']]

In [29]:
lst.insert(1,'singh')

In [30]:
lst

['a', 'singh', 'b', 'ç', 100, 200, 300, 'thakur', ['john', 'moscow']]

In [33]:
# extend function, allows us to add the new list to existing without any sub list

Exlst = [1,2,3,4,5,6]

In [34]:
Exlst.extend([88.99])

In [35]:
Exlst

[1, 2, 3, 4, 5, 6, 88.99]

# various operation on list

In [36]:
sum(Exlst)

109.99

In [37]:
Exlst.pop()

88.99

In [38]:
Exlst

[1, 2, 3, 4, 5, 6]

In [39]:
Exlst.pop(3)

4

In [40]:
Exlst

[1, 2, 3, 5, 6]

In [41]:
lst = [1,1,2,4,5,2,88]

In [42]:
lst.count(1)  # returns the frequency of that value in list

2

In [43]:
len(lst)

7

In [44]:
lst.index(1)

0

In [45]:
lst.index(2)

2

In [46]:
lst.index(2,0,7)

2

In [48]:
lst.index(2,3,7)

5

In [49]:
min(lst)

1

In [50]:
max(lst)

88