## Pandas - in depth code basics

DataFrame - It is most commonly used object in pandas. It is a table like Data Structure containing rows and columns similar to excel spread sheet.

In [1]:
import pandas as pd

In [3]:
# creating Data Frame using a Tuple
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data);
# df = pd.read_csv('weather_data.csv')

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
# write data frame to a csv file

df.to_csv('weather.csv', index=False)

In [18]:
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  01-02-2020           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2019           24          7   Snow
4  01-05-2020           32          4   Rain
5  01-06-2020           31          2  Sunny

In [21]:
df.shape # rows, colums = df.shape

(6, 4)

In [23]:
df.head() # df.head(3) - returns only the first few records specified

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  01-02-2020           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2019           24          7   Snow
4  01-05-2020           32          4   Rain

In [26]:
df.tail(2) # df.tail(2) - return onlt the last few records specified

          day  temperature  windspeed  event
4  01-05-2020           32          4   Rain
5  01-06-2020           31          2  Sunny

In [27]:
df[1:3] # range- simlar to splic in arrays, [startIndex: stopIndex: step]

          day  temperature  windspeed  event
1  01-02-2020           35          7  Sunny
2  01-03-2019           28          2   Snow

In [28]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [29]:
df['day'] # df.day

0    01-01-2019
1    01-02-2020
2    01-03-2019
3    01-04-2019
4    01-05-2020
5    01-06-2020
Name: day, dtype: object

In [30]:
type(df['day'])

pandas.core.series.Series

In [33]:
df[['day', 'temperature']] # this helps to anlaysis only the required indexes

          day  temperature
0  01-01-2019           32
1  01-02-2020           35
2  01-03-2019           28
3  01-04-2019           24
4  01-05-2020           32
5  01-06-2020           31

In [34]:
df['temperature'].max()

35

In [35]:
df['temperature'].min()

24

In [36]:
df.temperature.mean()

30.333333333333332

In [38]:
df[df['temperature']>32]

          day  temperature  windspeed  event
1  01-02-2020           35          7  Sunny

In [39]:
df.temperature.std()

3.8297084310253524

In [40]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [41]:
df

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  01-02-2020           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2019           24          7   Snow
4  01-05-2020           32          4   Rain
5  01-06-2020           31          2  Sunny

In [42]:
df.set_index('day') # will create a new data frame doesnot modify the existing data frame

            temperature  windspeed  event
day
01-01-2019           32          6   Rain
01-02-2020           35          7  Sunny
01-03-2019           28          2   Snow
01-04-2019           24          7   Snow
01-05-2020           32          4   Rain
01-06-2020           31          2  Sunny

In [43]:
df.set_index('day', inplace=True) # modifies the existing data Frame

In [44]:
df

            temperature  windspeed  event
day
01-01-2019           32          6   Rain
01-02-2020           35          7  Sunny
01-03-2019           28          2   Snow
01-04-2019           24          7   Snow
01-05-2020           32          4   Rain
01-06-2020           31          2  Sunny

In [45]:
df.index

Index(['01-01-2019', '01-02-2020', '01-03-2019', '01-04-2019', '01-05-2020',
       '01-06-2020'],
      dtype='object', name='day')

In [47]:
df.loc['01-02-2020']

temperature       35
windspeed          7
event          Sunny
Name: 01-02-2020, dtype: object

In [49]:
df.reset_index(inplace=True)

In [50]:
df.head()

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  01-02-2020           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2019           24          7   Snow
4  01-05-2020           32          4   Rain

In [55]:
df.set_index('event', inplace=True)

In [56]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   01-03-2019           28          2
Snow   01-04-2019           24          7