## Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language

## Agenda

.what is data frame? - it is the combination of multiple rows and columns
.what is data series? - it can be either one row or one column
.Different operations in pandas

In [1]:
# first step is import pandas

import pandas as pd
import numpy as np

In [3]:
# playing with Data Frame

df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['column1', 'column2', 'column3', 'column4'])

In [4]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
# dump this data to csv file

df.to_csv('test1.csv')

In [6]:
# Accessing the elements
# 1. .loc 2. .iloc (index location)

df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [8]:
type(df.loc['Row1'])

pandas.core.series.Series

In [9]:
df.iloc[:,:] # [row:row, col:col]

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [10]:
df.iloc[0:2,0:2]

      column1  column2
Row1        0        1
Row2        4        5

In [11]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [20]:
df['column3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: column3, dtype: int32

In [23]:
type(df['column3'])

pandas.core.series.Series

In [24]:
df[['column3'', 'column4']]

SyntaxError: invalid syntax (<ipython-input-24-267ffd56e5fd>, line 1)

In [12]:
# convert DataFrame into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [13]:
df.iloc[:,1:].values.shape

(5, 3)

## check Data Frame is null

In [15]:
df.isnull()

      column1  column2  column3  column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [16]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [18]:
# to get the category count from DF
df['column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: column1, dtype: int64

In [19]:
# to get the category count from DF
df['column1'].unique()

array([ 0,  4,  8, 12, 16])