# sets

A set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. Python set class represents the mathematial notion of a set. This is based on data structure known as a hash table.

In [1]:
## defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var = { 'Avengers', 'Iron man', 'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'Iron man'}

set

In [4]:
# inbuilt function in set

set1 = {'Avengers', 'Iron man', 'Hitman'}
set2 = {'Avengers', 'Iron man', 'Hitman', 'Hulk'}

set2.difference(set1)

{'Hulk'}

In [11]:
set2.intersection_update(set1)

In [12]:
set2

set()

In [14]:
set1

{'Avengers', 'Hitman', 'Iron man'}

In [6]:
set2.difference_update(set1)

In [7]:
set2
set1

{'Avengers', 'Hitman', 'Iron man'}

In [8]:
set2

{'Hulk'}

## Dictionaries

A Dictionary is collection which unordered, changeable and indexed. In python dictionaries written with curly braces and they have keys and values

In [15]:
dic={}

In [16]:
type(dic)

dict

In [17]:
dic={1,2,3,4,5}

In [18]:
type(dic)

set

In [20]:
dic={1,2,3,3,4,5}
type(dic)

set

In [21]:
dic

{1, 2, 3, 4, 5}

In [22]:
# create disctionaries
my_dict = {'car1': 'Audi','car2': 'BMW', 'car3': 'seltos', 'car4': 'Audi'}

In [23]:
type(my_dict)

dict

In [24]:
dict

dict

In [25]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'seltos', 'car4': 'Audi'}

In [28]:
my_dict.keys();
my_dict.values()

dict_values(['Audi', 'BMW', 'seltos', 'Audi'])

In [31]:
# iterating through the dictionaries
for x in my_dict:
    print (x) # this will print the keys

car1
car2
car3
car4

In [33]:
for x in my_dict:
    print (my_dict[x]) # this will print the values

Audi
BMW
seltos
Audi

In [35]:
# to fetch both ket and value fro dictionary

for x in my_dict.items():
    print (x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'seltos')
('car4', 'Audi')

In [36]:
# adding new item to the existing dictionary
my_dict['car 5'] = 'Audi 2.0'

In [37]:
my_dict

{'car1': 'Audi',
 'car2': 'BMW',
 'car3': 'seltos',
 'car4': 'Audi',
 'car 5': 'Audi 2.0'}

## Nested dictionaries

In [38]:
car1_model={'Mercedes': 1960}

In [39]:
car2_model={'Audi': 1970}
car3_model={'Ambasdor': 1980}

In [40]:
car_type={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambasdor': 1980}}

In [42]:
# Accessing the values from nested dictionaries
print(car_type['car1']['Mercedes'])

1960

In [43]:
for x in car_type:
    print(x)

car1
car2
car3

In [46]:
# loop over to fetch values from nested dictionaries

for x, y in car_type.items():
    print(x)
    for k in y:
        print(k)

car1
Mercedes
car2
Audi
car3
Ambasdor

# Tuples

Once a tuple created, we cannot change or reassing the value of tuple but we can completely change the entire tuple

In [47]:
# create a tuple
tuple = tuple()

In [48]:
type(tuple)

tuple

In [49]:
my_tuple=("thakur", "mahendar", " singh")

In [51]:
my_tuple[0]

'thakur'

In [53]:
my_tuple[0]='MSd' # this is not possible

TypeError: 'tuple' object does not support item assignment

In [56]:
my_tuple=("ms", "msd") # this is possible

In [55]:
my_tuple

('ms', 'msd')